name: Deploy Strapi to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Node.js
      uses: actions/setup-node@v2
      with:
        node-version: '18'

    - name: Install dependencies
      run: yarn install

    - name: Build strapi
      run: yarn build

    - name: Deploy to EC2
      uses: appleboy/ssh-action@master  # Use SSH action to deploy
      with:
        host: ${{ secrets.EC2_HOST }}  # EC2 instance host (use GitHub Secrets)
        username: ${{ secrets.EC2_USERNAME }}  # EC2 instance username
        key: ${{ secrets.SSH_PRIVATE_KEY }}  # SSH private key stored in GitHub Secrets
        script:  |
          cd /home/ubuntu/my-project
          git pull origin main
          yarn install
          yarn build
          pm2 restart 
