name: Deploy Strapi to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Node.js
      uses: actions/setup-node@v2
      with:
        node-version: '18'

    - name: Install dependencies
      run: yarn install

    - name: Build strapi
      run: yarn build

    - name: Deploy to EC2
      env:
        EC2_IP: ${{ secrets.EC2_IP }}
        EC2_USER: ${{ secrets.EC2_USER }}
        SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
      run: |
        echo "${{ secrets.SSH_PRIVATE_KEY }}" > key.pem
        sudo chmod 400 key.pem
        scp -o StrictHostKeyChecking=no -i key.pem -r ./* $EC2_USER@$EC2_IP:/home/ubuntu/my-project
        ssh -o StrictHostKeyChecking=no -i key.pem $EC2_USER@$EC2_IP << 'EOF'
        cd /home/ubuntu/my-project
          yarn install
          pm2 restart strapi || pm2 start npm --name "strapi" -- run develop
        EOF
